/* Reset some default styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
}

.chat-container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-header {
    background-color: #0077FF;
    color: #90EE90;
    padding: 10px;
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.chat-messages {
    padding: 20px;
    max-height: 300px;
    overflow-y: auto;
}

.message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 70%;
}

.from-bot {
    background-color: #0077FF;
    color: #90EE90;
    align-self: flex-start;
}

.from-user {
    background-color: #90EE90;
    color: #000;
    align-self: flex-end;
}

.chat-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ccc;
}

input[type="text"] {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #f1f1f1;
    margin-right: 10px;
}

#send-button {
    background-color: #0077FF;
    color: #90EE90;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
#response {
    background-color: #0077FF;
    color: #90EE90;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
#startRecognition {
    background-color: #0077FF;
    color: #90EE90;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

#send-button:hover {
    background-color: #0055CC;
}
