/* Reset some default styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 95%);
    background-image: url('../public/blue.png');
    background-size: cover; /* This ensures the image covers the entire background */
    background-position: center; /* Center the image */
}

.chat-container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-header {
    background-color: #ddf57d;
    color: 7da1f5;
    padding: 10px;
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.chat-messages {
    padding: 20px;
    max-height: 300px;
    overflow-y: auto;
}

.message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 70%;
}

.from-bot {
    background-color: #7dc0ff;
    color: #ddf57d;
    align-self: flex-start;
}

.from-user {
    background-color: #ddf57d;
    color: #7dc0ff;
    align-self: flex-end;
}

.chat-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #7dc0ff;
}

input[type="text"] {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #f1f1f1;
    margin-right: 10px;
}

#send-button {
    background-color: #7dc0ff;
    color: #ddf57d;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
#response {
    background-color: #7dc0ff;
    color: #ddf57d;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
#startRecognition {
    background-color: #7dc0ff;
    color: #ddf57d;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

#send-button:hover {
    background-color: #7dc0ff;
}

.top-link {
    text-align: center;
    padding: 10px;
    background-color: gray; /* Set the background color */
    border-radius: 10px; /* Rounded corners */
    display: block; /* Change to block for centering */
    margin: 10px auto; /* Top and bottom margin, auto horizontally centers the block */
    width: fit-content; /* Adjust the width to fit the content */
}

.top-link a { /* Additional styles for the link itself */
    color: white; /* Set the text color */
    text-decoration: none; /* Removes the underline from the link */
    padding: 5px 10px; /* Padding inside the link for better spacing */
}


